.form-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding-bottom: 100px;
    z-index: 2;
    position: relative;
}

.form-container form {
    margin-top: 40px;
}

.form-inner h1 {
    text-align: center;
}


.form-double-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5vw;
}

.form-group {
    width: 25vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.form-group input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.463);
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
}

.form-group input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
}

.submit-btn {
    float: right;
    background-color: black;
    border: none;
    padding: 15px 50px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    width: 150px;
    text-align: center;
    height: 60px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(75, 74, 74);
}

.submit-btn__done {
    float: right;
    border: none;
    padding: 15px 50px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgb(0, 207, 41) !important;
    color: white ;
    transition: ease-in-out .2s;
    width: 150px;
    text-align: center;
    height: 60px;
}

.form-spinner {
    animation: spinner .5s infinite linear;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}

@media (width <=600px) {
    .form-double-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0vw;

    }

    .form-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        margin: 25px 0;

    }

}